.nav-desktop {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.nav-mobile {
  display: none;
}
.nav-mobile-sm {
  display: none;
}
a.item {
  border: 3px solid;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
  color: black;
  cursor: pointer;
}

.item.connect {
  float: right;
  background-color: black;
  color: white !important;
  padding: 7px;
  border-radius: 15px !important;
}
.item.connect-wrong-network {
  float: right;
  background-color: rgb(162, 3, 14);
  color: white;
  padding: 7px;
  border-radius: 15px !important;
}
.item.connect-wrong-network:hover {
  background-color: rgb(90, 14, 19);
}

.item.connect:hover {
  text-decoration: none !important;
  background-color: #666 !important;
  color: white !important;
}
.address {
  float: right;
  text-decoration: none;
  background-color: black;
  color: white !important;
  padding: 7px;
  border-radius: 15px !important;
}
.address:hover {
  text-decoration: none !important;
  background-color: #666 !important;
  color: white !important;
}
@media screen and (max-width: 540px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-around;
    padding: 2%;
  }
}
@media screen and (max-width: 345px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile-sm {
    display: flex;
    justify-content: space-around;
    padding: 2%;
  }
}

.social-icon {
  color: inherit;
  font-size: 150%;
}
